.complaintImageContainer {
}

.complaintText {
  font-size: 20px;
  color: white;
  margin: 15px;
  padding: 15px;
  
}

.complaintIssue {
  font-style: italic;
}

.complaintImage {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  
}
