.messagesContainer {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
  max-height: calc(100vh - 120px);
}

.messagesTitle {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.messagesScrollContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  padding: 0px 10px;
}

.messagesScrollContainer > :first-child {
  margin-top: auto !important;
}
