.messagesContainer {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 15px;
  max-height: calc(100vh - 120px);
}

.messagesTitle {
  // padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.messagesScrollContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  background-color: whitesmoke;
  padding: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  margin-top: 15px;
  margin-bottom: 15px;
}

.messagesScrollContainer > :first-child {
  margin-top: auto !important;
}
