@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #e8f3f1;
  color: #333;
}
