.displayUserContainer {
  flex: 0 1 20%;
  background-color: #5ca392;
  padding: 10px;
}

.profileImageContainer {
}

.profileName {
  font-weight: bold;
  font-size: 32px;
  color: white;
  margin-top: 20px;
  margin-bottom: 15px;
}

.profileDescription {
  margin-bottom: 15px;
}
