.flatmateContainer {
  display: flex;
  padding: 20px;
}

.flatmateContainer:hover {
  background-color: #da5161;
}

.flatmateDetailsContainer {
  margin-left: 20px;
}

.flatmateImage {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.flatmateName {
  font-weight: bold;
  font-size: 18px;
}

.flatmateDescription {
  font-style: italic;
}

.flatmateRating {
  color: maroon;
  font-size: 18;
}

.flatmateEnough {
  color: red;
  font-size: 18px;
}
