.flatmatesContainer {
  flex: 0 1 35%;
  border-radius: 15px;
  margin-right: 15px;
  padding: 0px 10px;
  border-radius: 15px;
  border: 8px solid #13082a;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flatmatesScrollContainer {
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
}
