.flatContainer {
  background-color: #13082a;
  color: white;
  width: 100%;
  padding: 10px;
}

.flatName {
  font-weight: bold;
  font-variant: small-caps;
}

.flatDescription {
  font-style: italic;
}
