.flatmatesContainer {
  flex: 0 1 35%;
  background-color: #d31e34;
  max-height: calc(100vh - 150px);
  border-radius: 15px;
  margin-right: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  // padding: 15px;
}
