# //-----import api client function 
# //e.g. import { getFruits } from '../apis/fruits'


# //-----Create type variable------
#  e.g. export const SET_FRUITS = 'SET_FRUITS'

# //------write simple/thunk function -----
# Simple e.g.export function setFruits(fruits) {
#   return {
#     type: SET_FRUITS,
#     payload: fruits,
#   }
# }
# Thunk e.g. export function fetchFruits() {
#   return (dispatch) => {
#     return getFruits().then((fruits) => {
#       dispatch(setFruits(fruits))
#     })
#   }
# }
