.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #053542;
  color: #faefbe;
}

.actionButton {
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  background-color: #faefbe;
}

.actionButton:hover {
  background-color: #f4f3ef;
}
