.questionContainer {
  background-color: greenyellow;
  cursor: pointer;
}

.questionTitleContainer {
  background-color: yellow;
}

.questionDate {
  font-size: 10px;
}

.questionTitle {
  font-weight: bold;
  padding: 12px;
}

.questionAnswersContainer {
  background-color: blue;
}

.questionAnswer {
  font-style: italic;
  background-color: goldenrod;
  cursor: pointer;
  padding: 12px;
}

.questionAnswer:hover {
  background-color: gold;
}
