.questionContainer {
  background-color: rgb(191, 238, 238);
  cursor: pointer;
  margin: 30px;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 10px 10px 8px 10px #888888;
}

.questionTitleContainer {
}

.questionDate {
  font-size: 10px;
}

.questionTitle {
  font-weight: bold;
  padding: 12px;
}

.questionAnswersContainer {
}

.questionAnswer {
  font-style: italic;
  background-color: goldenrod;
  cursor: pointer;
  padding: 12px;
}

.questionAnswer:hover {
  background-color: gold;
}
